<div
  class="relative flex justify-center items-center min-h-screen bg-gray-100 selection:bg-red-500 selection:text-white font-sans"
>
  <div class="w-full sm:w-3/4 xl:w-1/2 mx-auto p-6">
    @if (healthResult(); as result) {
      @if (result.status === 'up') {
        <div
          class="px-6 py-4 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex items-center focus:outline focus:outline-2 focus:outline-red-500"
        >
          <div class="relative flex h-3 w-3 group">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-400"></span>
          </div>

          <div class="ml-6">
            <h2 class="text-xl font-semibold text-gray-900">Application up</h2>
            <p class="mt-2 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
              HTTP request received. Response rendered in {{ result.time }}ms.
            </p>
          </div>
        </div>
      } @else {
        <div
          class="px-6 py-4 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex items-center focus:outline focus:outline-2 focus:outline-red-500"
        >
          <div class="relative flex h-3 w-3 group status-down">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-600 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-600"></span>
          </div>

          <div class="ml-6">
            <h2 class="text-xl font-semibold text-gray-900">Application down</h2>
            <p class="mt-2 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
              Server is unreachable or returned an error.
            </p>
          </div>
        </div>
      }
    } @else {
      <div
        class="px-6 py-4 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex items-center focus:outline focus:outline-2 focus:outline-red-500"
      >
        <div class="relative flex h-3 w-3 group">
          <span
            class="animate-pulse absolute inline-flex h-full w-full rounded-full bg-gray-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-gray-400"></span>
        </div>

        <div class="ml-6">
          <h2 class="text-xl font-semibold text-gray-900">Checking status...</h2>
          <p class="mt-2 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
            Waiting for server response.
          </p>
        </div>
      </div>
    }
  </div>
</div>
